body {
  margin: 0px;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgba(119, 0, 255, 0.623);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(0, 0, 0, 0.685);
}

img {
  display: none;
}
